.renderCard {
  background-color: white;
  text-align: center;
  opacity: 0.93;
  margin: 42.5% auto;
}


.card {
  display: inline-block;
  /* border: 1px solid white; */
  margin-right: 10px;
  width: 18em;
  height: 25em;
  background: white;
  overflow: hidden;
  background-size: cover;
  /* background-blend-mode: multiply; */
  /* background-color: rgb(163, 162, 162); */
}

.card:hover {
  background-color: #999;
  /* background-size: 300px 400px; */
}
